<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803219645404-g7iv2jl4fpn18ma9tv2q62idnrpngnqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803219645404-g7iv2jl4fpn18ma9tv2q62idnrpngnqp</string>
	<key>API_KEY</key>
	<string>AIzaSyBPtQu6vrvhEr9b_gWdzBBmtUyTMLfpekI</string>
	<key>GCM_SENDER_ID</key>
	<string>803219645404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Learn-O-zone</string>
	<key>PROJECT_ID</key>
	<string>learnozone-591b1</string>
	<key>STORAGE_BUCKET</key>
	<string>learnozone-591b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803219645404:ios:0472ec77410afc4660a519</string>
	<key>DATABASE_URL</key>
	<string>https://learnozone-591b1.firebaseio.com</string>
</dict>
</plist>